<h3>Update Bookmark</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="bookmark.id" name="id">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="bookmark.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">URL</label>
      <input type="text" class="form-control" id="url" required [(ngModel)]="bookmark.url" name="url">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>