<div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Bookmark List</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>URL</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bookmark of bookmarks | async">
                <td>{{bookmark.id}}</td>
                <td>{{bookmark.name}}</td>
                <td>{{bookmark.url}}</td>
                
                
                
                <td><button (click)="deleteBookmark(bookmark.id)" class="btn btn-danger">Delete</button>
                    <button (click)="updateBookmark(bookmark.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                    <button (click)="bookmarkDetails(bookmark.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      